body{
    background-color: black;
  }

  h1{
    
    text-transform: uppercase;
  }

  div{
    background-color: black;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    color: white;
  }

  
  img{
    border: 5px solid white;
    width: 100%;
  }
